/* StockTicker.css */

.ticker-container {
    width: 100%;
    overflow: hidden;
    padding: 0.75rem 0;
    background-color: #262626;
    color: white;
    position: relative;
}

.ticker-content {
    display: flex;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    /* Increased duration for smoother scroll */
}

.ticker-container:hover .ticker-content {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.ticker-item {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    /* A bit less padding */
    font-size: 0.9rem;
}

.ticker-item .symbol {
    font-weight: 600;
}

.ticker-item .price {
    margin: 0 0.5rem;
}

.ticker-item .change-positive {
    color: #4ade80;
}

.ticker-item .change-negative {
    color: #f87171;
}

.ticker-message {
    text-align: center;
    padding: 0.5rem;
    font-style: italic;
    color: #a3a3a3;
    /* neutral-400 */
}